<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    <!-- IZIN INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/drivenusa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriveNusa"
        android:usesCleartextTraffic="true" >
        <!-- Splash screen (main launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DriveNusa.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Register screen -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Verification screen (NO deep link here) -->
        <activity
            android:name=".VerificationActivity"
            android:exported="false" /> <!-- DeepLinkReceiverActivity for handling deep link -->
        <!-- <activity -->
        <!-- android:name=".DeepLinkReceiverActivity" -->
        <!-- android:exported="true"> -->
        <!-- </activity> -->
        <!-- Main screen -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- <activity -->
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".FormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pembayaran.PembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".SyaratActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".PengajuanJadwalActivity"
            android:exported="false" />
        <activity
            android:name=".FormPengajuanActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RiwayatPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.KenaliDriveNusaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.terms.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".LupaPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pembayaran.KonfirmasiKreditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pembayaran.PembayaranKreditActivity"
            android:exported="false" />
        <activity
            android:name=".PromoActivity"
            android:exported="false"  />
        <activity
            android:name=".PromoDetailActivity"
            android:exported="false"  />
        <activity
            android:name=".PaymentActivity"
            android:exported="false"  />
        <activity
        android:name=".ui.pembayaran.PembayaranBerhasilActivity"
        android:exported="false" />



    </application>

</manifest>